<div class="apdf-pagination">
    <div class="apdf-pag-container">
        <div class="apdf-pag-nav">
            <span class="ajs-pdf-current-page {{pagingClasses.current}}"></span><span
                class="{{pagingClasses.of}}"> {{pageOfTxt}} </span><span
                class="ajs-pdf-last-page {{pagingClasses.last}}"></span>
        </div>
    </div>
</div>